@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #574964;
    padding: 3px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;

}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.profile-card::before{
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color:#574964
    ;
}

.profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFDAB3;
    margin-bottom: 10px;
}

.image {
    margin-bottom: 10px;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .interest {
    font-size: 12px;
    font-weight: 300;
}

.profile-card .media-links {
    display: flex;
    align-items: center;
    margin-top: 15px;


}

.media-links .link {
    display: flex;
    height: 34px;
    width: 34px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 8px;
    font-size: 20px;
    color: #FFDAB3;
    background-color: #574964;
    text-decoration: none;

}

.profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.buttons .button {
    background-color: #574964;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #FFDAB3;
    margin: 0 10px;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}
.buttons .button:hover{
    background-color:  #FFDAB3;
    color: #574964;
    transform: scale(1.1);
}
.profile-card .analytics{
    display: flex;
    justify-content: space-around;
    margin-top: 15px ;
}
.analytics .data {
    display: flex;
    padding: 0 20px;
    align-items: center;
    color: #574964;
    border-right: 2px solid #f0d8d8;
}
.analytics .data i {
    font-size: 14px;  
    color: #574964;       
    margin-bottom: 2px;
}
.data:last-child{
    border-right: none;
}
